{{template "actor_head" .}}
<body style="max-width:650px;margin:0 auto;padding:5px;">

	<!-- user profile -->
	<article>
		<div style="position:relative;margin-bottom:50px;">
			<img src="{{.Banner}}" alt="banner" style="position:relative;aspect-ratio:3/1;max-width:100%;" />
			<img src="{{.Avatar}}" alt="avatar" style="width:100px;border-radius:50%;position:absolute;left:10px;bottom:-50px;" />
		</div>
		<h1 style="margin-bottom:0;">{{.DisplayName}}</h1>
		<p style="margin:auto 0;" class="handle">@{{.Handle}}</p>
		<p style="margin:10px 0;" class="counts"><b>{{.FollowersCount}}</b> followers <b>{{.FollowsCount}}</b> following <b>{{.PostsCount}}</b> posts</p>
		<p style="white-space:pre-line">{{.Description}}</p>
		<hr>
	</article>

	{{range .Feed}}
    	<span id="feed"></span>
		<article>
			{{if ne .Post.Author.DID $.DID}}
			<p style="margin:0;margin-left:60px;margin-bottom:5px;" class="repost"><b>Reposted by <a href="https://htmlsky.app/profile/{{$.Handle}}">{{$.DisplayName}}</a></b></p>
			{{end}}
				<a href="https://htmlsky.app/profile/{{.Post.Author.Handle}}/post/{{.Post.RKey}}" style="color:inherit;text-decoration:none;">
                <div>
                    <img src="{{.Post.Author.Avatar}}" alt="avatar" style="width:50px;border-radius:50%;float:left;margin-right:10px;padding:0;">
                    <p style="margin:0;">
                        <b>{{.Post.Author.DisplayName}}</b>
                        <span class="handle">@{{.Post.Author.Handle}}</span>
                        &middot;
                        <time datetime="{{.Post.Record.CreatedAt}}" style="margin-top: 10px;" class="date">{{.Post.Record.CreatedAt.Format "1/2/2006 15:04 UTC" }}</time>
                    </p>
                </div>
				<div style="margin-left:60px;">
					<p style="margin-top:5px;">{{.Post.Record.Text}}</p>
					<p style="margin-top:20px;margin-bottom:5px;" class="counts">
						<a href="#replies" style="color:inherit;text-decoration:none;"><b>{{.Post.ReplyCount}}</b> replies</a> &middot; <b>{{.Post.RepostCount}}</b> reposts &middot; <b>{{.Post.LikeCount}}</b> likes
					</p>
				</div>
				</a>
            </article>
			<hr>
    {{end}}

	{{template "footer"}}
</body>