{{define "actor_head"}}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, shrink-to-fit=no" />
	<title>{{.DisplayName}} (@{{.Handle}})</title>
	<meta name="theme-color" content="dodgerblue">
	<link rel="stylesheet" href="/style.css">
</head>
{{end}}

{{define "thread_head"}}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, shrink-to-fit=no" />
    <title>{{.Post.Author.DisplayName}}: "{{.Post.Record.Text}}"</title>
    <meta name="theme-color" content="dodgerblue">
    <link rel="stylesheet" href="/style.css">
</head>
{{end}}