{{define "actor_header"}}
<header style="padding-top:10px;">
    <a href="https://bsky.app/profile/{{.DID}}"><span style="float:right;">&#8599;</span></a>
    <a href="/"><span style="float:left;">&#129419;</span></a>
    <hr style="clear:both;margin-top:25px;">
</header>
{{end}}

{{define "thread_header"}}
<header style="padding-top:10px;">
    <a href="https://bsky.app/profile/{{.Post.Author.DID}}/post/{{.Post.RKey}}/"><span style="float:right;">&#8599;</span></a>
    <a href="/"><span style="float:left;">&#129419;</span></a>
    <hr style="clear:both;margin-top:25px;">
</header>
{{end}}