:root {
    color-scheme: light dark;
}

@media (prefers-color-scheme: light) {
    :root {
        --secondary: dimgray;
        --primary: black;
        --link: royalblue;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --secondary: darkgray;
        --primary: white;
        --link: dodgerblue;
    }
}

html {
    padding: 0;
    margin: 0;
}

body {
    font-family: system-ui, sans-serif;
}

code, pre {
    font-family: ui-monospace;
}

a, a:visited {
    color: var(--link);
    text-decoration: none;
}

.handle, .counts, .date, .repost {
    color: var(--secondary);
}

.counts b {
    color: var(--primary);
}

img {
    max-width: 100%;
}