{{template "thread_head" .}}
<body>
    {{template "thread_header" .}}

    <!-- main post -->
    <article style="margin-bottom: 20px;">
        <div style="margin-bottom: 1em;">
            <img src="{{.Post.Author.Avatar}}" alt="avatar" style="width: 3em; border-radius: 50%; float: left; margin-right: 1em; padding: 0;">
            <a href="/profile/{{.Post.Author.Handle}}" style="color: inherit;">
                <h1 style="margin-bottom: 0; margin-top: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{.Post.Author.DisplayName}}</h1>
                <p style="margin-top: 0;" class="handle">@{{.Post.Author.Handle}}</p>
            </a>
        </div>
        <p style="clear: both; font-size:110%;">{{.Post.Record.Text}}</p>
        <time datetime="{{.Post.Record.CreatedAt}}" style="margin-top: 1em;" class="date">{{.Post.Record.CreatedAt.Format "Jan 02, 2006 at 15:04 UTC" }}</time>

        <p style="margin-top:20px;margin-bottom:5px;" class="counts">
            <a href="#replies" style="color:inherit;"><b>{{.Post.ReplyCount}}</b> replies</a> &middot; <b>{{.Post.RepostCount}}</b> reposts &middot; <b>{{.Post.LikeCount}}</b> likes
        </p>
    </article>

    {{range .Replies}}
    <span id="replies"></span>
        <a href="/profile/{{.Post.Author.Handle}}/post/{{.Post.RKey}}" style="color:inherit">
            <article>
                <!-- reply -->
                <div>
                    <img src="{{.Post.Author.Avatar}}" alt="avatar" style="width: 2.5em; border-radius: 50%; float: left; margin-right: 1em; padding: 0;">
                    <p style="margin:0;">
                        <b>{{.Post.Author.DisplayName}}</b>
                        <span class="handle">@{{.Post.Author.Handle}}</span>
                        &middot;
                        <time datetime="{{.Post.Record.CreatedAt}}" style="margin-top: 1em;" class="date">{{.Post.Record.CreatedAt.Format "1/2/2006 15:04 UTC" }}</time>
                    </p>
                </div>
                <div style="margin-left: 3.5em;">
                    <p style="margin-top:5px;">{{.Post.Record.Text}}</p>
                    <p style="margin-top:20px;margin-bottom:5px;" class="counts">
                        <a href="#replies" style="color:inherit;"><b>{{.Post.ReplyCount}}</b> replies</a> &middot; <b>{{.Post.RepostCount}}</b> reposts &middot; <b>{{.Post.LikeCount}}</b> likes
                    </p>
                </div>
            </article>
        </a>
    {{end}}
</body>