{{template "thread_head" .}}
{{template "embed_head" .}}
<body style="max-width:650px;margin:0 auto;padding:5px;">

    <!-- main post -->
    <article style="margin-bottom:10px;">
        <div>
            <object data="{{.Post.Author.Avatar}}" type="image/jpeg" style="width:50px;border-radius:50%;float:left;margin-right:10px;padding:0;">
                <img src="http://raw.githubusercontent.com/jordanreger/htmlsky/archive/resources/avatar.png" style="width:50px;border-radius:50%;float:left;margin-right:10px;padding:0;">
            </object>
            <a href="https://htmlsky.app/profile/{{.Post.Author.Handle}}" style="color:inherit;text-decoration:none;">
                <h1 style="margin-bottom:0;margin-top:10px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">{{.Post.Author.DisplayName}}</h1>
                <p style="margin-top:0;" class="handle">@{{.Post.Author.Handle}}</p>
            </a>
        </div>
        <p style="clear:both;">{{.Post.Record.Text}}</p>
        <time datetime="{{.Post.Record.CreatedAt}}" class="date">{{.Post.Record.CreatedAt.Format "Jan 02, 2006 at 15:04 UTC" }}</time>

        <p class="counts" style="margin-bottom:0;">
            <b>{{.Post.ReplyCount}}</b> replies &middot; <b>{{.Post.RepostCount}}</b> reposts &middot; <b>{{.Post.LikeCount}}</b> likes
        </p>

        <hr>
    </article>

    <span id="replies"></span>
    {{range .Replies}}
    <article>
        <!-- reply -->
        <a href="https://htmlsky.app/profile/{{.Post.Author.Handle}}/post/{{.Post.RKey}}" style="color:inherit;text-decoration:none;">
            <div>
                <object data="{{.Post.Author.Avatar}}" type="image/jpeg" style="width:40px;border-radius:50%;float:left;margin-right:10px;">
                    <img src="http://raw.githubusercontent.com/jordanreger/htmlsky/archive/resources/avatar.png" style="width:40px;border-radius:50%;float:left;margin-right:10px;">
                </object>
                <p style="margin:0;">
                    <b>{{.Post.Author.DisplayName}}</b>
                    <span class="handle">@{{.Post.Author.Handle}}</span>
                    &middot;
                    <time datetime="{{.Post.Record.CreatedAt}}" style="margin-top: 1em;" class="date">{{.Post.Record.CreatedAt.Format "1/2/2006 15:04 UTC" }}</time>
                </p>
            </div>
            <div style="margin-left: 3.5em;">
                <p style="margin-top:5px;">{{.Post.Record.Text}}</p>
        </a>
                <p style="margin-top:20px;margin-bottom:5px;" class="counts">
                    <a href="#replies" style="color:inherit;text-decoration:none;"><b>{{.Post.ReplyCount}}</b> replies</a> &middot; <b>{{.Post.RepostCount}}</b> reposts &middot; <b>{{.Post.LikeCount}}</b> likes
                </p>
            </div>
        <hr>
    </article>
    {{end}}

    {{template "footer"}}
</body>